@model List<Order>

@{ 
    ViewData["Title"] = "All orders";
}

<link rel="stylesheet" href="~/css/vendors/themefy_icon/themify-icons.css" />
<link rel="stylesheet" href="~/css/vendors/niceselect/css/nice-select.css" />
<link rel="stylesheet" href="~/css/vendors/font_awesome/css/all.min.css" />
<link rel="stylesheet" href="~/css/vendors/vectormap-home/vectormap-2.0.2.css" />
<link rel="stylesheet" href="~/css/vendors/datatable/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/css/vendors/datatable/css/responsive.dataTables.min.css" />
<!-- link css for sidebar menu -->
<link rel="stylesheet" href="~/css/metisMenu.css">

<!-- link main css file -->
<link rel="stylesheet" href="~/css/style1.css" />

<div class="row justify-content-center">
<div class="col-lg-8">
    <div class="white_card card_height_100 mb_20 ">
        <div class="white_card_header">
            <div class="box_header m-0">
                <div class="main-title">
                    <h3 class="m-0">Orders Details</h3>
                </div>
                <div class="header_more_tool">
                    <div class="dropdown">
                        <span class="dropdown-toggle" id="dropdownMenuButton"
                              data-bs-toggle="dropdown">
                            <i class="ti-more-alt"></i>
                        </span>
                        <div class="dropdown-menu dropdown-menu-right"
                             aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#"> <i class="fa fa-eye"></i> Action</a>
                            <a class="dropdown-item" href="#"> <i class="fa fa-trash"></i> Delete</a>
                            <a class="dropdown-item" href="#"> <i class="fa fa-edit"></i> Edit</a>
                            <a class="dropdown-item" href="#"> <i class="fa fa-print"></i> Print</a>
                            <a class="dropdown-item" href="#"> <i class="fa fa-download"></i> Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="white_card_body QA_section panel-list2">
            <div class="QA_table ">

                <table class="table lms_table_active2 p-0">
                    <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Items</th>
                            <th scope="col">Total</th>

                            <th scope="col">User</th>


                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var order in Model)
                        {
                            <tr>
                                <td class="f_s_12 f_w_400 color_text_6">@order.Id</td>
                                <td>
                                    <ul style="list-style-type:none">
                                        @foreach (var item in order.OrderItems)
                                        {
                                            <li>
                                                <div class="alert alert-info" role="alert">
                                                    <span class="badge bg-success">@item.Amount</span> [@item.Price.ToString("c")] - @item.Product.ProductName
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </td>
                                <td class="f_s_12 f_w_400 color_text_6"> @order.OrderItems.Select(m => m.Product.Price * m.Amount).Sum().ToString("c")</td>

                                <td class="f_s_12 f_w_400 text-center">
                                    @order.User.FullName
                                </td>
                                
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
</div>